.button {
    width: 25%;
    height: 40px;
    background-color:rgba(232, 126, 87, 0.85);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}

.button:focus {
    outline: none;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover {
    background-color: rgba(244, 184, 163, 0.98);;
}

.button:active{
    background-color: rgba(232, 189, 175, 0.85);;
}